@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.chat-box{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: $fondo-chat;
    margin: 0 auto 4rem auto;
}

.messages-wrapper{
    
    .chat-bubble{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 220px;
        background-color: $fondo-receptor;
        margin: 1rem 2rem;
        border-radius: 1rem; 
        color: $backgorund;
        word-wrap: break-word;

        
        .chat-bubble__right{
            padding: .5rem;
            word-wrap: break-word;
            width: 100%;

            .user-name{
                font-size: $font-size-tiny;
                margin: .3rem 0;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            .user-message{
                font-size: $font-size-small;
                margin: 0;
                max-width: 200px;
            }
            .message-time{
                font-size: $font-size-tiny;
                text-align: right;
                margin-top: .5rem;
            }
        }     
    }
    .right{
        margin-left: auto;
        background-color: $fondo-contraste;


    }
   
}