@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;   
    background-color: $nav-background;
    align-items: center;
    padding: .5rem;
    color: $font-color;
    @include media-up("sm"){
        justify-content: space-between;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        padding: 2rem;
    }
    @include media-up("lg"){
        height: 10vh;
        align-items: center;
    }
    h1{
        background-color: inherit;
        color: $font-color-logo;
        font-size: $font-size-logo;
        font-weight: bold;
        letter-spacing: 3px;
        @include media-up("sm"){
            margin-left: 30px;
        }
    }
    .nav-links{
        display: flex;
        justify-content: end;
        width: 200px;
        background-color: inherit;
        @include media-up("sm"){
            margin-left: 30px;
            width: 400px;
        }
        button{
            background-color: inherit;
            border: none;           
            padding: 1rem;
            margin-right: 10px;
            cursor: pointer;
            border-radius: 1rem;
            color: $font-color;
            letter-spacing: 1px;
            text-transform: uppercase;
            &:hover{
                background-color: $btn-hover;
                
            } 
        }
        
    }
   
}