@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.container-usersList{
    width: 90%;
    display: flex;
    align-items: center;
    text-align: left;
    margin: .5rem auto;
    background-color: $fondo-chat;
    border-radius: 1rem;
    padding: .5rem;
    
    &.last-div {
        justify-content: space-between;
    }

    &.last-p {
        justify-content: flex-start;
        p{
            margin-left: 1rem;
        }
    }
 
    .icon-action{
        width: 24px;
        cursor: pointer;
        margin-left: 5px;
    }
}