@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap');

/*Fuentes*/
$font-poppins: 'Poppins', sans-serif;
$font-color: #eff1f0;
$font-color-logo: #b700f9;
$font-color-text-welcome: #7b00aa;
$font-color-profile: #6e748e;
$font-color-p: #3d4043;
$font-size-logo: 2.5rem;
$font-size-welcome: 3rem;
$font-size-big: 1.5rem;
$font-size-medium: 1.2rem;
$font-size-small: .8rem;
$font-size-tiny: .5rem;

/*background*/

$nav-background: #fff;
$backgorund: #fff;
$fondo-chat: #4e426d;
$fondo-contraste: #5c4f81;
$mensaje-remitente: #4e426d;
$fondo-receptor: #edaa87;

/*Buttons*/
$btn-hover: #fc6594;


/*Otros*/
$conectado: #2b5de2;
$white: #fff;
$black: #000;
