@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap');

/*Fuentes*/
$font-poppins: 'Poppins', sans-serif;
$font-color: #a4bccc;
$font-color-logo: black;
$font-color-profile: #6e748e;
$font-size-logo: 2.5rem;
$font-size-big: 1.5rem;
$font-size-medium: 1.2rem;
$font-size-small: .8rem;
$font-size-tiny: .5rem;

/*background*/

$nav-background: #fff;
$backgorund: #fff;
$fondo-chat: #383459;
$mensaje-remitente: #172850;
$fondo-receptor: #263d8A;

/*Buttons*/
$btn-hover: #fc6594;


/*Otros*/
$conectado: #2b5de2;

